
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(118, 200, 228);
    /* padding-left: 100px;
    padding-right: 100px; */
    gap: 50px;
}


/* Styling the header */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.main-header {
    margin-top: 50px;
    margin-bottom: 1px;
}

.second-header {
    margin-bottom: 50px;
    margin-top: 0px;

}

/* Styling the grid */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
#grid {
display: grid;
/* grid-gap: 1em; */
grid-template-rows: repeat(var(--grid-rows), 1fr);
grid-template-columns: repeat(var(--grid-cols), 1fr);
height: 500px;
width: 500px;
border: solid 2px;

}

#grid-item {
/* padding: 1em; */
/* border: 1px solid #ddd; */
box-sizing: border-box;

}


#eraze, #resize {
    padding: 5px;
    height: auto;
    width: 120px;
    font-weight: bold;

}